.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.header {
    background-color: #fff;
}
.contentWrapper {
    flex: auto;
    padding: 12px 0;
    .content {
        display: flex;
        height: 100%;

        .left {
            width: 295px;
            background-color: #fff;
            padding: 0 12px;
        }

        .right {
            width: 300px;
            background-color: #fff;
            padding: 0 12px;

        }

        .main {
            flex: 1;
            overflow: hidden;

            .canvasWrapper {
                position: absolute;
                width: 400px;
                height: 712px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: auto;
                box-shadow: 0px 2px 10px #0000001f;
            }
        }
    }
}