.header {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    .left,
    .right {
        flex: 1;
    }
    .right {
        text-align: right;
    }
    h3 {
        margin: 0;
    }
}

.content {
    margin-bottom: 20px;
}